@import "./../../../core.less";
@import "./../../../variables.less";

.coursepage {
    width: 100%;
    height:100%;

    .stuctureregion {
        

        .cardMain {
            
        }        
        
        .quizcardMain {
            
        }
    }
    
    .selectregion {
        
        .nextButton {
            float: right;
        }
    }    
}