@import "./../../../core.less";
@import "./../../../variables.less";

.coursepage {
    width: 100%;
    height:100%;
    
    .selectregion {
        
        .nextButton {
            float: right;
        }
    }    
}


.cardMain > span {
    width: 100%;
    overflow: hidden;
    display: flex;
    line-height: 18px;
    white-space: nowrap;
}

.cardMain > span > p {
    width: 80%;
    margin: 0;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardMain > span > button {
    float: right;
}

.quizcardMain2 {
    border: 1px solid grey;
    width: 90%;
    padding: 0.5rem 1rem;
    margin-Bottom: .5rem;
    background-Color: white;
    margin-left: 10%;
}

.quizcardMain2 > span {
    width: 100%;
    overflow: hidden;
    display: flex;
    line-height: 18px;
    white-space: nowrap;
}

.quizcardMain2 > span > p {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.quizcardMain2 > span > button {
    float: right;
}