@import "./../../../core.less";
@import "./../../../variables.less";

@navheight: 70px;

.container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: @colour-light;
    padding:20px;
    padding-bottom: 20px;
    overflow: auto;
}

.content {
    height: 95%;
    width: 100%;
    background-color: @colour-light;
    color: @colour-main;
}