
.contentContainer {
    height: auto;
    width: 100%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    .markdownRegion {
        min-height: 200px;
        height: auto;
        width: 100%;
        border-bottom: 1px solid grey;
        margin-bottom: 20px;
    }
    .imageRegion {
        min-height: 300px;
        height: auto;
    }
}

