@import "./../../../../variables.less";

.infoContainer {

    .contentContainer {

        width: 100%;

        .markdownRegion {
            min-height: 50px;
            width: 100%;
        }

        .imageRegion {
            min-height: 50px;
        }
    }
    .commentRegion {
        width: 100%;
        min-height: 50px;

        .ant-list-header {
            margin-top: 0px;
            padding-top: 0px;
        }
    }

}